body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center;
    padding: 20px;
    background-color: #004080;
}
header, nav, footer {
  background-color: #004080;
  color: white;
  padding: 1rem;
}
.logo-box img {
    width: 150px; 
    height: auto;
}
.hero img {
    width: 10%;
    height: auto;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.view-buttons {
  margin: 1rem 0;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.members-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.members-container.list {
  display: block;
}

.member-card {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.member-card img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
  font-size: 0.9rem;
}
footer .sociallinks {
    display: flex;
    justify-content: right;
    gap: 20px;
}

footer .sociallinks a img {
    width: 40px;
    height: 40px; 
    object-fit: contain;
}